
@{
    ViewBag.Title = "Email Not Verified";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Your email address is not yet verified. 
        Please check your emails and follow the link to complete the registration process.
    </p>
</div>

